#app-navigation:not(.vue) {
  --border-radius-pill: calc(var(--default-clickable-area) / 2);
  width: 300px;
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-main-background-blur);
  backdrop-filter: var(--filter-background-blur);
  -webkit-backdrop-filter: var(--filter-background-blur);
  -webkit-user-select: none;
  position: sticky;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

#app-navigation:not(.vue) > ul {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: calc(var(--default-grid-baseline) * 2);
  padding-bottom: 0;
}

#app-navigation:not(.vue) > ul > li, #app-navigation:not(.vue) > ul > li > ul > li {
  position: relative;
  box-sizing: border-box;
}

#app-navigation:not(.vue) > ul > li {
  display: inline-flex;
  flex-wrap: wrap;
  order: 1;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 3px;
  width: 100%;
  border-radius: var(--border-radius-pill);
}

#app-navigation:not(.vue) > ul > li > a.svg, #app-navigation:not(.vue) > ul > li > ul > li > a.svg {
  padding: 0 12px 0 44px;
}

#app-navigation:not(.vue) > ul > li > a, #app-navigation:not(.vue) > ul > li > ul > li > a {
  background-size: 16px 16px;
  background-position: 14px center;
  background-repeat: no-repeat;
  display: block;
  justify-content: space-between;
  line-height: 44px;
  min-height: 44px;
  padding: 0 12px 0 14px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: var(--border-radius-pill);
  color: var(--color-main-text);
  flex: 1 1 0px;
  z-index: 100;
}

#app-navigation:not(.vue) > ul > li, #app-navigation:not(.vue) > ul > li > ul > li {
  position: relative;
  box-sizing: border-box;
}

#app-navigation:not(.vue) > ul > li {
  display: inline-flex;
  flex-wrap: wrap;
  order: 1;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 3px;
  width: 100%;
  border-radius: var(--border-radius-pill);
}

#app-navigation:not(.vue) .collapsible .collapse {
  opacity: 0;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 0;
  z-index: 110;
  left: 0;
}

#app-navigation:not(.vue) > ul > li > ul {
  flex: 0 1 auto;
  width: 100%;
  position: relative;
}

#app-navigation:not(.vue) > ul > li > ul > li {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 44px;
  width: 100%;
  margin-bottom: 3px;
}
