MARIADB_ROOT_PASSWORD=changeme-root
MARIADB_DATABASE=nextcloud
MARIADB_USER=nextcloud
MARIADB_PASSWORD=changeme-db

NEXTCLOUD_HTTP_PORT=8080

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=changeme-admin
NEXTCLOUD_TRUSTED_DOMAINS=localhost:8080
NEXTCLOUD_OVERWRITEPROTOCOL=http
