<div class='note-attachts'>
	{{#each attachts}}
		<div class='note-attach-grid'>
			<div class="attach-preview note-attach" attach-file-id="{{file_id}}" data-background-image="{{preview_url}}"/>
		</div>
	{{/each}}
</div>