<div class='note-attachts'>
	{{#each attachts}}
		<div class='note-attach-grid'>
			<a target="_blank" href="{{redirect_url}}">
				<div class="attach-preview note-attach" attach-file-id="{{file_id}}" data-background-image="{{preview_url}}"/>
			</a>
			<div class="attach-remove icon-delete" title="{{t "quicknotes" "Delete attachment"}}"/>
		</div>
	{{/each}}
</div>